
@if (Session["UserID"] == null)
{     
<form method="post" action="UserAccount/Login" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
        <div id="content">
            <input type="text" placeholder="Email e.g. 'me@example.com'" name="email" value="" />
            <input type="password" placeholder="Password" name="password" value="" />
            <input type="submit" value="Login" name="submit"/>
        </div>
</form>
}

