@model LOLAPI.Shared.Entities.UserAccount

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<hr />
<br />
<br />

<form method="post" action="Login" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Register</legend>
        <div class="editor-label">
            <label for="email">Email:</label>
            <input type="text" name="email" value="" />
        </div>
        <div class="editor-label">
            <label for="userName">User Name:</label>
            <input type="text" name="userName" value="" />
        </div>
        <div class="editor-label">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" />
        </div>
        <div class="editor-label">
            <label>&nbsp;</label>
            <input type="submit" value="Login" class="submit" />
        </div>
    </fieldset>
</form>

