@model LOLAPI.Shared.Entities.UserAccount

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<hr />
<br />
<br />

<form method="post" action="Login" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Login</legend>
        <div id="contact">
            <div class="input_label user">
                <label for="email">Email</label>
            </div>
            <input type="text" name="email" value="" />
        </div>

        <div id="contact">
            <div class="input_label user">
                <label for="userName">UserName:</label>
            </div>      
            <input type="text" name="userName" value="" />
        </div>

        <div id="contact">
            <div class="input_label user">
                <label for="password">Password:</label>
            </div>            
            <input type="password" name="password" value="" />
        </div>

        <div class="editor-label">
            <label>&nbsp;</label>
            <input type="submit" value="Login" class="submit" />
        </div>
    </fieldset>
</form>

